<p id="notice"><%= notice %></p>

<h1>Idols</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Height</th>
      <th>Age</th>
      <th>Weight</th>
      <th>Birthday</th>
      <th>Pref hand</th>
      <th>Blood type</th>
      <th>Bust</th>
      <th>Waist</th>
      <th>Hip</th>
      <th>Zodiac</th>
      <th>Hometown</th>
      <th>Hobby</th>
      <th>Cv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @idols.each do |idol| %>
      <tr>
        <td><%= idol.image %></td>
        <td><%= idol.name %></td>
        <td><%= idol.height %></td>
        <td><%= idol.age %></td>
        <td><%= idol.weight %></td>
        <td><%= idol.birthday %></td>
        <td><%= idol.pref_hand %></td>
        <td><%= idol.blood_type %></td>
        <td><%= idol.bust %></td>
        <td><%= idol.waist %></td>
        <td><%= idol.hip %></td>
        <td><%= idol.zodiac %></td>
        <td><%= idol.hometown %></td>
        <td><%= idol.hobby %></td>
        <td><%= idol.cv %></td>
        <td><%= link_to 'Show', idol %></td>
        <td><%= link_to 'Edit', edit_idol_path(idol) %></td>
        <td><%= link_to 'Destroy', idol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idol', new_idol_path %>
