<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @idol.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @idol.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @idol.height %>
</p>

<p>
  <strong>Age:</strong>
  <%= @idol.age %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @idol.weight %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @idol.birthday %>
</p>

<p>
  <strong>Pref hand:</strong>
  <%= @idol.pref_hand %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @idol.blood_type %>
</p>

<p>
  <strong>Bust:</strong>
  <%= @idol.bust %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @idol.waist %>
</p>

<p>
  <strong>Hip:</strong>
  <%= @idol.hip %>
</p>

<p>
  <strong>Zodiac:</strong>
  <%= @idol.zodiac %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @idol.hometown %>
</p>

<p>
  <strong>Hobby:</strong>
  <%= @idol.hobby %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @idol.cv %>
</p>

<%= link_to 'Edit', edit_idol_path(@idol) %> |
<%= link_to 'Back', idols_path %>
